<ion-view title="Monitor">
	<ion-content class="padding">
		<ion-list type="card" ng-repeat="d in data">
			<a ng-click="vm.drawChart(d.ServerID)" class="item item-divider item-icon-right">
				Server ID: {{d.ServerID}}
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<ion-item class="row">
				<div class="col" ng-repeat="n in d.Names">{{n}}</div>
			</ion-item>
			<ion-item class="row">
				<div class="col" ng-repeat="v in d.Values">{{v}}</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>